---
interface Props {
  colorA?: string;
  colorB?: string;
  flip?: boolean;
}

const { colorA = "bg-accent/25", colorB = "bg-accent-2/20", flip = false } = Astro.props;
---

<div aria-hidden="true" class="pointer-events-none absolute inset-0 z-0 overflow-hidden">
  <div
    class={`animate-drift absolute h-[26rem] w-[26rem] rounded-full blur-[110px] ${colorA} ${flip ? "-right-32 top-0" : "-left-32 top-0"}`}
  >
  </div>
  <div
    class={`animate-drift absolute h-[22rem] w-[22rem] rounded-full blur-[110px] ${colorB} ${flip ? "-left-24 bottom-0" : "-right-24 bottom-0"}`}
    style="animation-delay: -11s;"
  >
  </div>
</div>
